@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kalidi logo brand color: #FD461E
$natural-prime: #00d1b2
$natural-prime-invert: #fff
$natural-secondary: #57bd7d

$primary: $natural-prime
$primary-invert: $natural-prime-invert
$secondary: $natural-secondary
$body-color: #333

@import "~bulma"

.navbar
  border-bottom: 1px solid $primary

.navbar .navbar-menu
  box-shadow:none !important

.navbar-brand .navbar-item
  padding: 1.25rem 0.7rem

.navbar-item
  @include from($tablet)
    padding: 1.25rem 0.75rem

.navbar-burger
  height: auto

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.footer
  background: $dark
  color: $light
  h1, h2, h3, h4, h5, h6
    color: $light

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important
